# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=stocklab_db
DATABASE_URL=postgresql://user:password@localhost:5432/stocklab_db

# API
API_BASE_URL=https://www.alphavantage.co/query
API_KEY=your_api_key_here
